a {
	text-decoration: none;
	color: #363636;
}

#menu {
	font-size: 35px;
	margin-top: 8px;
	margin-left: 3px;
}
.slideOut {
	display: grid;
	grid-template-rows: 10% 80% 10%;
	position: fixed;
	width: 0;
	background-color: black;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1000;
	-webkit-transition: width .35s;
  	-moz-transition: width .35s;
  	-o-transition: width .35s;
  	transition: width .35s;
}
#menuExit{
	grid-row: 1/2;
}
#links{
	grid-row: 2/3;
}
#slideNames{
	font-family: Lato;
	font-size: 1.2em;
	color: white;
	margin: 10%;
	line-height: 2em;
}
#signIn{
	grid-row: 3/4;
}
#slideSignIn {
	font-family: Lato;
	font-size: 1.2em;
	color: white;
	margin: auto auto 10% 10%;
	bottom: 0;
	
}

.slideOut.active {
	width: 75%;
}

.homeWrapper {
	display: grid;
	width: 100%;
	margin-top: 20%;
}

.forget{
	grid-row: 1/2;
	width: 100%;
}

.topText {
	font-family: Sanchez;
  	font-size: 1.55em;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	line-height: 110%;
}
.hassel{
	margin-top: 20%;
	grid-row: 2/3;
	
}
.thinText {
	font-family: Lato;
  	font-size: 1.5em;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	font-weight: lighter;
	color: #363636;
	line-height: 110%;
}
.thinText.Sm{
	font-size: 24px;
}
.townImg {
	display: block;
	width: 100%;
	margin: auto;
	overflow: hidden;
	margin-top: -5%;
}
.btnStart {
  -webkit-border-radius: 31;
  -moz-border-radius: 31;
  border-radius: 31px;
  font-family: Sanchez;
  color: #ffffff;
  font-size: 23px;
  background: #3fb9be;
  padding: 12px 20px 12px 20px;
  text-decoration: none;
  width: 90%;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 15px;
  box-sizing: border-box;
}

.btnStart:hover {
  background: #4dd7dd;
  text-decoration: none;
}

#freeIcons {
	display: block;
	margin: 35px auto auto auto;
	height: auto;
	width: 150px;		
}
#eyeIcons{
	display: block;
	width: 80%;
	margin: 25% auto;
}
#freeHeader{
	font-family: Lato;
	font-weight: lighter;
	font-size: 20px;
	text-align: center;
	margin-bottom: 6%;
	margin-top: 3%;
}
#freeTextBlock{
	font-family: Lato;
	font-size: 13px;
	text-align: center;
	line-height: 150%;
}
.forFree {
	grid-row: 3/4;
	width: 90%;
	margin: 20% auto auto auto;

}
.keepPrivacy {
	grid-row: 4/5;
	width: 100%;
	height: auto;
	margin-top: 20%;
	background-image: url(../images/ZenBusiness_MobileIcons_fullset-02.svg);
	background-repeat: no-repeat;
	background-size: cover;
}
#gapDiv{
	margin: 3% auto 3% auto;
}
#centerIt {
	display: block;
	margin: 30% auto;
}
.eyeOut {
	grid-row: 5/6;
	margin: auto;
	width: 100%;
	margin-top: 35%;
	
}
#whiteSpace {
	grid-row: 6/7;	
	width: 100%;
}
