a {
	text-decoration: none;
	color: #363636;
}

#menu {
	font-size: 35px;
	margin-top: 8px;
	margin-left: 3px;
}
#menu.white {
	color: white;
}
.slideOut {
	display: grid;
	grid-template-rows: 10% 80% 10%;
	position: fixed;
	width: 0;
	background-color: #363636;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1000;
	-webkit-transition: width .35s;
  	-moz-transition: width .35s;
  	-o-transition: width .35s;
  	transition: width .35s;
}
#menuExit{
	grid-row: 1/2;
}
#links{
	grid-row: 2/3;
}
#slideNames{
	font-family: Lato;
	font-size: 1.2em;
	color: white;
	margin: 10%;
	line-height: 2em;
}
#signIn{
	grid-row: 3/4;
}
#slideSignIn {
	font-family: Lato;
	font-size: 1.2em;
	color: white;
	margin: auto auto 10% 10%;
	bottom: 0;
	
}

.slideOut.active {
	width: 75%;
}

.homeWrapper {
	display: grid;
	width: 100%;
	margin-top: 20%;
	max-width: 1000px;
	margin: 5em auto auto auto;
}

.forget{
	grid-row: 1/2;
	width: 100%;
}

.topText {
	font-family: Sanchez;
  	font-size: 1.6em;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	line-height: 110%;
}
.hassel{
	margin-top: 3em;
	grid-row: 2/3;
	
}
.thinText {
	font-family: Lato;
  	font-size: 1.5em;
	text-align: center;
	width: 80%;
	margin: 1em auto .5em auto;
	font-weight: 100;
	color: #363636;
	line-height: 110%;
}
.thinText.Sm{
	font-size: 1.3em;
	width: 70%;
}
.thinText.Sm.copyRight{
	margin: 1em auto auto auto;
	font-size: 1.3em;
	width: 100%;
}
.townImg {
	display: block;
	width: 100%;
	margin: auto;
	overflow: hidden;
	margin-top: -1em;
}
.btnStart {
  -webkit-border-radius: 31;
  -moz-border-radius: 31;
  border-radius: 31px;
  font-family: Sanchez;
  color: #ffffff;
  font-size: 23px;
  background: #3fb9be;
  padding: 12px 20px 12px 20px;
  text-decoration: none;
  width: 90%;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 15px;
  box-sizing: border-box;
}

.btnStart:hover {
  
  text-decoration: none;
}

#freeIcons {
	display: block;
	margin: 1em auto;
	height: auto;
	width: 7em;		
}
#freeIconsSocial {
	display: block;
	margin: 1em auto;
	height: auto;
	width: 7em;		
}
#eyeIcons{
	display: block;
	width: 80%;
	margin: 1.5em auto;
}
#freeHeader{
	font-family: Lato;
	font-weight: lighter;
	font-size: 20px;
	text-align: center;
	margin-bottom: 6%;
	margin-top: 3%;
}
#freeTextBlock{
	display: block;
	font-family: Lato;
	font-size: 13px;
	text-align: center;
	width: 70%;
	margin: 3% auto;
	line-height: 150%;
}
.forFree {
	grid-row: 3/4;
	width: 90%;
	margin: 2em auto;

}
.keepPrivacy {
	grid-row: 4/5;
	width: auto;
	max-width: 400px;
	height: 390px;
	margin: 2em auto;
	background-image: url(../images/ZenBusiness_MobileIcons_fullset-02.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#centerIt {
	display: block;
	margin: 5.5em auto;
}
.eyeOut {
	grid-row: 5/6;
	margin: 2em auto;
	width: 100%;
		
}
.social {
	grid-row: 6/7;
	margin: 2em auto;	
	width: 100%;
}

.footer {
	width: 100%;
	height: 120px;
	background-color: #363636;
	left: 0;
	bottom: 0;
	display: grid;
	margin-bottom: -10px;
}
#copyRight {
	font-family: Lato;
	font-size: 0.4em;
	text-align: center;
	color: white;
	display: block;
	margin: 0 auto .03em auto;
}
.socialIcons {
	color: white;
	font-size: 1.7em;
	display: grid;
	text-align: center;
	width: 60%;
	margin: auto;
}
#zenIcons {
	height: 1.3em;

}
.icons#one{
	grid-column: 1/2;
}
.icons#two{
	grid-column: 2/3;
}
.icons#three{
	grid-column: 3/4;
}
.icons#four{
	grid-column: 4/5;
}
